:root {
    --accent-color: rgba(52, 84, 122, 1);
    --background-main: #eeeff1;
    --color-black: #000000;
    --color-white: #fff;
    --color-main: #727272;
}

body {
    font-family: "Roboto", sans-serif;
    list-style: none;
    line-height: 164%;
    padding-left: 20px;
    padding-right: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.container {
    padding: 0 calc(50vw - 555px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header {
    padding-top: 80px;
    padding-bottom: 20px;
    background-color: var(--background-main);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
}

.navigation__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.navigation__item {
    display: inline-block;
    margin-right: 46px;
    align-items: center;

}

.navigation__link {
    text-decoration: none;
    color: var(--color-black);
    letter-spacing: 0, 1em;

}

.navigation__link--active {
    color: var(--accent-color);
    font-weight: 500;
}

.section-bro {
    background-color: var(--background-main);
    padding-top: 142px;
    padding-bottom: 142px;
}

.section-bro__wrapper {
    max-width: 540px;
}

.section-bro__title {
    font-size: 48px;
    margin-bottom: 60px;

}

.section-bro__desc {
    color: var(--color-main);
}

.section-bro__link {
    background-color: var(--accent-color);
    max-width: 225px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-white);
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-about {
    background-color: var(--background-main);
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 142px;
}

.section-about__wrapper {
    max-width: 540px;
}

.section-about__title {
    font-size: 32px;
    margin-bottom: 60px;
    padding-top: 142px;

}

.section-about__desc {
    color: var(--color-main);
}

.projects {
    background-color: var(--accent-color);
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}

.projects__item {
    display: flex;
    align-items: center;
}

.projects__number {
    font-size: 21px;
    line-height: 1;
    color: var(--color-white);
    margin-bottom: 10px;
    padding: 0;
    margin: 0;
}

.projects__subtext {
    color: var(--color-white);
    padding: 0;
    margin: 0;
}

.projects__desc {
    margin-left: 20px;

}

.section-work {
    background-color: var(--background-main);
    padding-top: 142px;
    padding-bottom: 142px;
    display: flex;
    justify-content: center;
}

.section-work__wrapper {
    max-width: 540px;
    display: flex;
    justify-content: center;
}

.section-work__title {
    font-size: 32px;

    padding-top: 0;
    display: flex;
    justify-content: center;
    position: absolute;

}

.section-work__desc {
    color: var(--color-main);
    padding-top: 142px;
    display: flex;
    justify-content: center;
}

.img-grand {
    background-image: url=();
    background-repeat: no-repeat;
    
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    padding-top: 14px;
    min-width: var(50vw-555px);
    min-height: var(50vh-300px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.img {
    padding-top: 684px;
    display: flex;
    justify-content: center;
}
.footer {
    display: block;
    padding-bottom: 0;
    background-color: var(--accent-color);
    max-width: 1920px;
    max-height: 151px;
    padding-top: 2313px;

}
.name {
    font-size: 21px;
    color: var(--color-white);
    line-height: 0,5;
    padding-left: 205px;
    padding-bottom: 75px;
}
.copy {
    padding: 0;
    margin: 0;
    padding-bottom: 75px;
    padding-left: 205px;
    margin-bottom: 55px;
    padding-top: 0;
    margin-top: 0;
}